:host {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(118px, 1fr));
  background-color: white;
  border-radius: 10px;
  gap: 30px;
  padding: 1rem 2rem;
  justify-items: center;
  .wrapper {
    width: 100px;
    min-height: 190px;
    cursor: pointer;
  }
}
