:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: white;
  border-radius: 10px;
  gap: 30px;
  padding: 1rem 2rem;
  justify-items: center;
}
