<div class="display">0</div>
<div class="wrapper">
  <div class="btn function">AC</div>
  <div class="btn function">±</div>
  <div class="btn function">%</div>
  <div class="btn operator" (click)="handleSelectedOperator('divisione')">
    ÷
  </div>
  <div class="btn" (click)="handleSelectedNumber(7)">7</div>
  <div class="btn" (click)="handleSelectedNumber(8)">8</div>
  <div class="btn" (click)="handleSelectedNumber(9)">9</div>
  <div class="btn operator" (click)="handleSelectedOperator('moltiplicazione')">
    ×
  </div>
  <div class="btn" (click)="handleSelectedNumber(4)">4</div>
  <div class="btn" (click)="handleSelectedNumber(5)">5</div>
  <div class="btn" (click)="handleSelectedNumber(6)">6</div>
  <div class="btn operator" (click)="handleSelectedOperator('sottrazione')">
    −
  </div>
  <div class="btn" (click)="handleSelectedNumber(1)">1</div>
  <div class="btn" (click)="handleSelectedNumber(2)">2</div>
  <div class="btn" (click)="handleSelectedNumber(3)">3</div>
  <div class="btn operator" (click)="handleSelectedOperator('somma')">+</div>
  <div class="btn zero" (click)="handleSelectedNumber(0)">0</div>
  <div class="btn">.</div>
  <div class="btn operator" (click)="handleSelectedOperator('risultato')">
    =
  </div>
</div>
