:host {
  // position: fixed;
  // bottom: 0;
  // left: 0;

  width: 100%;
  display: flex;
  form {
    width: 100%;
    display: flex;
    input {
      width: 100%;
    }
    button {
      border: none;
    }
  }
}
